
#up{
    padding-left: 30px;
}
.open{
    font-size: larger;
    font-weight: 900;
    height: 400px;
    width: 300px;
    padding-left: 120px;
    border: 2px solid;
}

#submit{
    background-color: rgba(33, 34, 32, 0.842);
    color: white;
    width: 175px;
    height: 30px;
}
